@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.booksToVideos-container {
    align-content: start;
}
.booksToVideos-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    writing-mode: vertical-rl;
}
